<div class="body-content">
  <div class="row">
    <div class="page-body small-10 small-centered large-uncentered columns">
      <div class="heading-title hide-for-small-only">
        <h2>GuiTools</h2>
      </div>
      <div class="body-text-container small-12 small-centered columns">
        <div class="body-text">
          <h3>Soon, you will find here a few things to help you musicians out there: </h3>
          <p>Patience, my friends.</p>
        </div>
      </div>
    </div>
    <div class="side-bar small-2 columns hide-for-medium-down">
      <ul>
        <li><%= link_to 'Music', 'music' %></li>
        <li><%= link_to 'About', 'about' %></li>
        <li><%= link_to 'Blog', 'blog' %></li>
        <li><%= link_to 'GuiTools', 'guitools' %></li>
      </ul>
    </div>
  </div>
</div>