<head>
  <link rel="stylesheet" href="app/assets/stylesheets/animate.min.css">
</head>
<div class="title titleDiv small-12 small-centered columns hide-for-small-only animated zoomInRight">
  <a href="/"><h1>STONEFOOT</h1></a>
</div>
<div class="title titleDivMobile small-12 small-centered columns show-for-small-only animated zoomInRight">
  <a href="/"><h1>STONEFOOT</h1></a>
</div>