<div class="titleDiv">
  <a href="/"><h1>STONEFOOT</h1></a>
</div>

<div class="side-bar">
    <ul>
      <li><a href="music">Music</a></li>
      <li><a href="about">About</a></li>
      <li><a href="blog">Blog</a></li>
    </ul>
</div>

<div class="footer">
  <h1>The Foot Is Gonna Drop!</h1>
</div>