<div class="body-content">
  <div class="row">
    <div class="page-body small-10 small-centered large-uncentered columns">
      <div class="heading-title">
        <h3>Music</h3>
      </div>
      <div class="body-text-container small-12 small-centered columns">
        <div class="body-text">
          <iframe width="100%" height="150" src="https://www.youtube.com/embed/4K-OG-5M-lk" frameborder="0" allowfullscreen></iframe>
          <br/>
          <br/>
          <iframe width="100%" height="150" src="https://www.youtube.com/embed/l4UNfT6ypDg" frameborder="0" allowfullscreen></iframe>
          <br/>
          <br/>
          <iframe width="100%" height="150" src="https://www.youtube.com/embed/wSass9m_hSw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="side-bar small-2 columns hide-for-medium-down">
      <ul>
        <li><%= link_to 'Music', 'music' %></li>
        <li><%= link_to 'About', 'about' %></li>
        <li><%= link_to 'Blog', 'blog' %></li>
        <li><%= link_to 'GuiTools', 'guitools' %></li>
      </ul>
    </div>
  </div>
</div>