<div class="body-content">
  <div class="row">
    <div class="page-body small-10 small-centered large-uncentered columns">
      <div class="heading-title">
        <h3>About</h3>
      </div>
      <div class="body-text-container small-12 small-centered columns">
        <div class="body-text">
          <p>Stonefoot is the solo project of Frank Jones. </br>
            He is not particularly interesting, but he loves his family, faith, the outdoors and of course, music.
            His musical influences are many, but some are more evident than others. </p>
        </div>
      </div>
    </div>
    <div class="side-bar small-2 columns hide-for-medium-down">
      <ul>
        <li><%= link_to 'Music', 'music' %></li>
        <li><%= link_to 'About', 'about' %></li>
        <!--<li><%= link_to 'Blog', 'blog' %></li>-->
        <li><%= link_to 'GuiTools', 'guitools' %></li>
      </ul>
    </div>
  </div>
</div>