<div class="titleDiv small-4 small-centered columns hide-for-small-only">
  <a href="/"><h1>STONEFOOT</h1></a>
</div>
<div class="titleDiv small-4 small-centered columns show-for-small-only">
  <a href="/"><h2>STONEFOOT</h2></a>
</div>
<div class="row">
  <div class="page-body small-10 columns">
    <div class="heading-title">
      <h2>About</h2>
    </div>
    <div class="body-text-container small-12 columns">
      <div class="body-text">
        <p>Stonefoot is the solo project of Frank Jones. </br>
          He is not particularly interesting, but he loves his family, faith, the outdoors and of course, music.
          His musical influences are many, but some are more evident than others. </p>

        <p>Please to be enjoying his musics.</p>
      </div>
    </div>
  </div>
  <div class="side-bar small-2 columns hide-for-small-only">
    <ul>
      <li><a href="music">Music</a></li>
      <li><a href="about">About</a></li>
      <li><a href="blog">Blog</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="mobile-nav small-8 small-centered columns show-for-small-only">
    <a href="music">Music</a> &nbsp;
    <a href="about">About</a> &nbsp;
    <a href="blog">Blog</a>
  </div>
</div>
<div class="row">
  <div class="footer hide-for-small-only">
    <h1>The Foot Is Gonna Drop!</h1>
  </div>
</div>
