// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'partials/settings';


html {
  height: 100%
}

body {
  background-color: black;
}

.title {
  background-color: black;
}

.mobile-nav {
  background-color: black;
}

h2 {
  font-size: 2em;
  color: #f2a329;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 2px 2px black;
}

.heading-title {
  padding-bottom: 20px;
}

h3 {
  font-size: 2em;
  color: #f2a329;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 2px 2px black;
}

.body-content {
  background-image: image-url('stonefoot_main.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.page-body {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow: hidden;
}

.body-text-container {
  background: grey;
  background: rgba(42, 42, 42, 0.5);
  padding: 0px 20px 20px 20px;
  border-radius: 25px;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
}

.body-text {
  color: #f2a329;
  padding-top: 20px;
  -ms-overflow-style: none;
  overflow: auto;
  p {
    font-size: 1em;
    padding-left: 20px;
    padding-top: 20px;
  }
}

.titleDiv a:link {
  text-decoration: none;
}

.titleDiv h1 {
    color: #f2a329;
    text-align: center;
    font-family: 'Uncial Antiqua', cursive;
    text-shadow: 2px 2px grey;
    text-align: center;
    font-size: 7em;
  margin-top: 0;
  margin-bottom: 0;
}

.titleDivMobile h1 {
  color: #f2a329;
  text-align: center;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 2px 2px grey;
  text-align: center;
  font-size: 3em;
}

.side-bar {
  ul {
    list-style-type: none;
    text-align: right;
  }
  li a {
    font-size: 2em;
    color: #f2a329;
    line-height: 68px;
    font-family: 'Uncial Antiqua', cursive;
    text-shadow: 2px 2px #000;
    text-decoration: none;
  }
}

.mobile-nav {
  font-size: 16px;
  color: #f2a329;
  line-height: 68px;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 2px 2px #000;
  text-decoration: none;
}

.mobile-nav a:link {
  color: #f2a329;
}

.mobile-nav a:visited {
  color: #f2a329;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px; /* choose any height */

}

.footer-text h1 {
  font-size: 3em;
  color: #f2a329;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  text-shadow: 2px 2px #000;
  z-index: -100;
}

