// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'partials/settings';


html {
  height: 100%
}

h2 {
  font-size: 42px;
  color: #f2a329;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 2px 2px #000;
}

h3 {
  font-size: 22px;
  color: #f2a329;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 2px 2px #000;
}

body {
  background-image: image-url('stonefoot_main.jpg');
  background-size: cover;
}

.page-body {
  margin-left: auto;
  margin-right: auto;
}

.body-text-container {
  background: grey;
  background: rgba(42, 42, 42, 0.5);
  padding: 0px 20px 20px 20px;
  overflow-y: scroll;
  border-radius: 25px;
}

.body-text {
  color: #f2a329;
  p {
    font-size: 22px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 26px;
  }
}

.titleDiv {
  @media #{$small-only} {
    font-size: 12px;
  }
}

.titleDiv a:link {
  text-decoration: none;
}

.titleDiv h1 {
  font-size: 72px;
  color: #f2a329;
  text-align: center;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 2px 2px #000;
}

.side-bar {
  ul {
    list-style-type: none;
    text-align: right;
  }
  li a {
    font-size: 36px;
    color: #f2a329;
    line-height: 68px;
    font-family: 'Uncial Antiqua', cursive;
    text-shadow: 2px 2px #000;
    text-decoration: none;
  }
}

.mobile-nav {
  font-size: 16px;
  color: #f2a329;
  line-height: 68px;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 2px 2px #000;
  text-decoration: none;
}

.mobile-nav a:link {
  color: #f2a329;
}

.mobile-nav a:visited {
  color: #f2a329;
}

.footer h1 {
  font-size: 42px;
  color: #f2a329;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  text-shadow: 2px 2px #000;
}

